# Homework 2

In this homework you will complete a couple of simple exercises in order to show your understanding with Python. If these exercises are challenging or new to you, you may want to reconsider taking the class and/or brush up on your Python skills. For the following exercises you are not allowed to use any Python packages (i.e. Numpy, Pandas, etc.).

### Please print the output of each question in a new cell below your code

## Lists

1.1 Create an empty Python list called 'a' in the cell below.

In [2]:
#your code here
a = []

1.2 Store all values between 1-100 (inclusive) with increments of 3 (i.e. 1, 4, 7...) in 'a'.

In [3]:
#your code here
for i in range(1,101,3):
    #using 101 because the specification is for 1-100 inclusive. The list needs to contain 100
    a.append(i)
print (a)

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97, 100]

1.3 Create another list called 'a2' with numbers from 2-46 (inclusive) with increments of 0.5 (i.e. 2, 2.5, 3...).

In [4]:
#your code here
a2 = []
for i in range (2*2,93):
    #I'd like for the bounds to be 2 and 46...
    a2.append(i/2)
    #see if there's a way to do this without converting all numbers to floats
print (a2)

[2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0, 10.5, 11.0, 11.5, 12.0, 12.5, 13.0, 13.5, 14.0, 14.5, 15.0, 15.5, 16.0, 16.5, 17.0, 17.5, 18.0, 18.5, 19.0, 19.5, 20.0, 20.5, 21.0, 21.5, 22.0, 22.5, 23.0, 23.5, 24.0, 24.5, 25.0, 25.5, 26.0, 26.5, 27.0, 27.5, 28.0, 28.5, 29.0, 29.5, 30.0, 30.5, 31.0, 31.5, 32.0, 32.5, 33.0, 33.5, 34.0, 34.5, 35.0, 35.5, 36.0, 36.5, 37.0, 37.5, 38.0, 38.5, 39.0, 39.5, 40.0, 40.5, 41.0, 41.5, 42.0, 42.5, 43.0, 43.5, 44.0, 44.5, 45.0, 45.5, 46.0]

1.4 Double every even integer element from list 'a'. Store the results back in 'a'.

In [5]:
#your code here
templist = []
for item in a:
    templist.append(item*2)
    #you could also do this with a vector of 2s
a = templist
print (a)

[2, 8, 14, 20, 26, 32, 38, 44, 50, 56, 62, 68, 74, 80, 86, 92, 98, 104, 110, 116, 122, 128, 134, 140, 146, 152, 158, 164, 170, 176, 182, 188, 194, 200]

1.5 Add all numbers in 'a' except for the 2nd and 21st elements (the 2nd element here means the element at list index 1).

In [7]:
#your code here
sum = 0
for item in a:
    if (a.index(item) == 1) or (a.index(item) == 20):
        #print ("1 then 21")
        sum +=0
    else:
        sum += item
        
print (sum)
    #sum += item

3304

1.6 Calculate the mean of 'a'.

In [8]:
#your code here
sum = 0
for item in a:
    sum +=item

#print (sum)
#print (len(a))

avg = sum/len(a)
print (avg)

101.0

1.7 Delete all elements greater than the mean value from list 'a'

In [16]:
#your code here

#print (avg)

for item in a:
    if (item > avg):
        a.remove(item)
        #this is only removing one item per run...
    else:
        item = item
        
print (a)

[2, 8, 14, 20, 26, 32, 38, 44, 50, 56, 62, 68, 74, 80, 86, 92, 98]

## Strings

2.1 Create an empty list called 'b'.

In [17]:
#your code here
b = []
#done

2.2 Store the words in the sentence below as elements into the list 'b'.  

'I am so excited about Data-X. It is important to be able to work with data.'

In [16]:
#your code here

sentence = 'I am so excited about Data-X. It is important to be able to work with data.'

for word in sentence.split():
   # print (word)
    b.append(word)
    
for word in b:
    b[b.index(word)] = word.replace(".", "")

    
print (b)
#done

['I', 'am', 'so', 'excited', 'about', 'Data-X', 'It', 'is', 'important', 'to', 'be', 'able', 'to', 'work', 'with', 'data']

2.3 Return the count of the occurences of the lower-case letter 'e' in the list 'b'.

In [17]:
#your code here

count_e_b = 0

for word in b:
    for letter in word:
        if letter == 'e' or 'b':
            count_e_b += 1
        else:
            count_e_b = count_e_b
print (count_e_b)
#can't return since this isn't a member function :(

#done

58

2.4 Replace every lower- or upper-case letter 'i' in the list b with a '1'.

In [18]:
#your code here


for word in b:
    if ('i') in word:
        b[b.index(word)] = (word.replace("i", "1"))
        
    if ('I') in word:
        b[b.index(word)] = (word.replace("I", "1"))   
            
print (b)

#done

['1', 'am', 'so', 'exc1ted', 'about', 'Data-X', '1t', '1s', '1mportant', 'to', 'be', 'able', 'to', 'work', 'w1th', 'data']

2.5 Append the string "This is the end of the first HW." to the list 'b'.

In [19]:
#your code here

b.append ("This is the end of the first HW.")

for word in b:
    b[b.index(word)] = word.replace(".", "")
    #sanitize the input to cut out "."

#done

2.6 Print 'b' as ONE string backwards (starting with "WH tsrif...").

In [20]:
#your code here

b.reverse()
#print (b)
temp = ""

for word in b:
    temp += ((word[::-1]) + " ") 
print (temp)

#done

WH tsrif eht fo dne eht si sihT atad ht1w krow ot elba eb ot tnatropm1 s1 t1 X-ataD tuoba det1cxe os ma 1

## Dictionaries

3.1 Put the following in a dictionary called 'codes':

Keys: 1001, 1002, 1003, 1004, 1005   
Values: 'Alpha', 'Beta', 'Gamma', 'Delta', 'Tau'

then traverse the dictionary by its keys and change every value to be all lower case.

In [32]:
#your code here

codes = {
    1001:'Alpha',
    1002: 'Beta',
    1003: 'Gamma',
    1004: 'Delta',
    1005: 'Tau'
    
}

for key,value in codes.items():
    codes[key] = value.lower()
    #print(value.lower())
  
print (codes)

{1001: 'alpha', 1002: 'beta', 1003: 'gamma', 1004: 'delta', 1005: 'tau'}

3.2 Delete 'alpha' from the dictionary.

In [33]:
#your code here

codes.pop(1001)
print (codes)

{1002: 'beta', 1003: 'gamma', 1004: 'delta', 1005: 'tau'}

## Sets

4.1 Create a set called 'c' with the all the odd numbers less than 10.

In [28]:
#your code here

c = {1, 3, 5, 7, 9}

print (c)

{1, 3, 5, 7, 9}

4.2 Create another set called 'd' with elements 2, 5, 10, 30.

In [27]:
#your code here

d = {2, 5, 10, 30}

print (d)

{2, 10, 5, 30}

4.3 Find the union between sets 'c' and 'd' and store this in a new set called 'e'.

In [25]:
#your code here

e = {}

e =  (c.union(d))


print (e)

{1, 2, 3, 5, 7, 9, 10, 30}

4.4 Find the intersection between sets 'c' and 'd'.

In [26]:
#your code here

print (c.intersection(d))

{5}